# --------------------------
# Backend ignores
# --------------------------
.env

# Node modules
/backend/node_modules

# Environment variables (secrets)
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Optional editor settings
.vscode/
.idea/

# OS files
.DS_Store

# --------------------------
# Parent-level node_modules (if any)
# --------------------------
/node_modules

# Local Netlify folder
.netlify
